/*@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:bg-[#0a0a0a] text-[#0a0a0a] dark:text-white;
    }
}*/

@import "tailwindcss";

@layer base {
    body {
        @apply bg-white dark:bg-[#0a0a0a] text-[#0a0a0a] dark:text-white;
    }
}
