---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import ExperienceRow from '@/components/ExperienceRow.astro';
---

<Layout title="sammyteahan">
  <div class="h-[100vh] overflow-auto scrollbar-hide">
    <Header />
    <main class="p-4 max-w-[36rem] mx-auto">
      <div class="mt-4">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-center rounded-full">
            <div class="w-2 h-2 mr-2 rounded-full dark:bg-[#7e7e7e] bg-[#7e7e7e]" />
            <p class="text-[15px] text-[#7e7e7e] dark:text-[#7e7e7e]">Software Developer</p>
          </div>
          <div class="flex items-center justify-center bg-[#cffadf] rounded-full px-2 py-[1px]">
            <div class="w-2 h-2 mr-2 rounded-full bg-[#29c780]" />
            <p class="text-[12px] text-[#019853]">Availability for Q4 2025</p>
          </div>
        </div>

        <div class="flex items-center flex-col md:flex-row-reverse justify-between mt-8">
          <div class="w-[30%]">
            <img
              alt="avatar image"
              src="/avatar_md.png"
              width="140"
              height="140"
              class="p-1 mx-auto dark:bg-[#252529] bg-[#ffffffe6] shadow-md rounded-full"
            />
          </div>
          <div class="w-[70%]">
            <h1 class="text-center md:text-start text-[32px] mt-4">Hi! I'm Sam</h1>
            <p class="text-center md:text-start dark:text-[#a1a1aa] text-[#a1a1aa] mt-4">
              Solutions Architect & Software Developer at <a href="https://objective.dev" class="underline underline-offset-2">Objective</a>
            </p>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="py-[10px] shadow-none rounded-[15px] max-w-[36rem] dark:border-[#1d1d1d] text-[#71767a]">
          <div class="flex items-center">
            <h2 class="flex text-lg font-semibold text-[#0f1419] dark:text-[#e7e9ea]">Work & Education</h2>
          </div>
          <ExperienceRow
            title="Objective"
            subtitle="Software Developer"
            start="2016"
            end="Present"
            icon="/logo_sm_objective.jpeg"
            iconAlt="logo of objective"
          />
          <ExperienceRow
            title="Lightning Kite"
            subtitle="Software Developer"
            start="2013"
            end="2016"
            icon="/logo_sm_lk.jpeg"
            iconAlt="logo of lightning kite"
          />
          <ExperienceRow
            title="Utah State University"
            subtitle="Computer Science Degree"
            start="2011"
            end="2015"
            icon="/logo_sm_usu.jpeg"
            iconAlt="logo of utah state university"
          />
        </div>

        <div class="py-[10px] shadow-none rounded-[15px] max-w-[36rem] dark:border-[#1d1d1d] text-[#71767a]">
          <div class="flex items-center">
            <h2 class="flex text-lg font-semibold text-[#0f1419] dark:text-[#e7e9ea]">Follow me</h2>
          </div>
          <div class="mt-4">
            <a 
              target="_blank"
              href="https://github.com/sammyteahan"
              class="flex items-center justify-between dark:bg-[#121212] bg-[#F7F7F7] my-2 p-1 py-3 rounded-[10px]"
            >
              <div class="flex justify-center items-start">
                <svg class="mx-3 h-[23px] w-[23px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
                <div class="text-[14px]">
                  <p>Github</p>
                  <p class="text-[#71767a]">@sammyteahan</p>
                </div>
              </div>
              <svg class="h-4 w-4 mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15 3-3-3-3"/><path d="M21 12H9"/><path d="M3 19v-2c0-1.1.9-2 2-2h4"/></svg>
            </a>
            <a 
              target="_blank"
              href="https://www.linkedin.com/in/sam-teahan-7b9654a8/"
              class="flex items-center justify-between dark:bg-[#121212] bg-[#F7F7F7] my-2 p-1 py-3 rounded-[10px]"
            >
              <div class="flex justify-center items-start">
                <svg class="mx-3 h-[23px] w-[23px]" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
                <div class="text-[14px]">
                  <p>Linkedin</p>
                  <p class="text-[#71767a]">Sam Teahan</p>
                </div>
              </div>
              <svg class="h-4 w-4 mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15 3-3-3-3"/><path d="M21 12H9"/><path d="M3 19v-2c0-1.1.9-2 2-2h4"/></svg>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
