---

---

<header
    class="flex max-w-[36rem] py-5 px-[13px] mx-auto w-full justify-between items-center"
>
    <div
        class="bg-[#ffffffe6] drop-shadow-sm dark:bg-[#252529] px-4 py-2 border rounded-[14px] dark:border-[#2a2a2b] border-[#f4f4f5]"
    >
        <a
            class="mx-2 text-[14px] hover:text-[#7e7e7e] hover:dark:text-[#7e7e7e] dark:text-[#E7E7E4] text-[#2a2a2b] cursor-pointer"
            href="https://cal.com/sammyteahan"
        >
            Connect
        </a>
    </div>
</header>
